# coding: utf-8

# flake8: noqa

{{>partial_header}}

__version__ = "{{packageVersion}}"

# import models into sdk package
{{#models}}
{{#model}}
from {{vendorExtensions.x-api-version}}.{{modelPackage}}.{{classFilename}} import {{classname}}
{{/model}}
{{/models}}

# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{vendorExtensions.x-api-version}}.{{apiPackage}}.{{classFilename}} import {{classname}}
{{/apis}}{{/apiInfo}}
# import ApiClient
from {{vendorExtensions.x-api-version}}.{{packageName}}.api_response import ApiResponse
from {{vendorExtensions.x-api-version}}.{{packageName}}.api_client import ApiClient
from {{vendorExtensions.x-api-version}}.{{packageName}}.configuration import Configuration
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import OpenApiException
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import ApiTypeError
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import ApiValueError
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import ApiKeyError
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import ApiAttributeError
from {{vendorExtensions.x-api-version}}.{{packageName}}.exceptions import ApiException
{{#hasHttpSignatureMethods}}
from {{vendorExtensions.x-api-version}}.{{packageName}}.signing import HttpSigningConfiguration
{{/hasHttpSignatureMethods}}

{{#recursionLimit}}

__import__('sys').setrecursionlimit({{{.}}})
{{/recursionLimit}}
