# coding: utf-8

# flake8: noqa

{{>partial_header}}

__version__ = "{{packageVersion}}"

# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{apiPackage}}.{{classFilename}} import {{classname}}
{{/apis}}{{/apiInfo}}
# import ApiClient
from core.api_response import ApiResponse
from core.api_client import ApiClient
from core.configuration import Configuration
from core.exceptions import OpenApiException
from core.exceptions import ApiTypeError
from core.exceptions import ApiValueError
from core.exceptions import ApiKeyError
from core.exceptions import ApiAttributeError
from core.exceptions import ApiException
{{#hasHttpSignatureMethods}}
from core.signing import HttpSigningConfiguration
{{/hasHttpSignatureMethods}}

# import models into sdk package
{{#models}}
{{#model}}
from {{modelPackage}}.{{classFilename}} import {{classname}}
{{/model}}
{{/models}}
{{#recursionLimit}}

__import__('sys').setrecursionlimit({{{.}}})
{{/recursionLimit}}
